<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>Document</title>
</head>
<body>
    <input type="text" classe="message">
    <button onclick="message()">send</button>
    <h1></h1>
    <script defer>
        const socket = io('http://localhost:3001')

        // socket.on("connection")
        socket.on("receive_message", (data) => {
            const h1 = document.getElementsByTagName('h1')[0]
            h1.innerHTML = data
        })
        const message = () => {
            const input = document.getElementsByTagName('input')[0]
            socket.emit("send_message" , input.value)
        }
    </script>
</body>
</html>